<%- include('partials/head.ejs') %>

<div class="container-fluid">
<div class="row">
<div class="col-md-12">
<h2 class="text-success text-center mb-5">Subscription Data for Copycat Fragrances</h2>
<% if(errors){ %>
    <h4 class="text-danger"><%=errors%></h4>
<% 
 }
 else if(dt2)
 {
     let customers = dt2.customers;
 %> 

 <div class="table-responsive">
  <table class="table data-table">
      <thead>
          <tr>
              <th>Customer name</th>
              <th>Email address</th>
              <!--
              
              <th>Total number of subscriptions</th>
              <th>Number of active subscriptions</th>
              <th>Analytics data</th>
              -->
              <th>Custom fields</th>
          </tr>
      </thead>
      <tbody>
          <%
           for(let c of customers){
          %>
          <tr>
              <td><%= `${c.first_name} ${c.last_name}` %></td>
              <td><%= c.email %></td>
              <!--
              
              <td><%= c.subscriptions_total_count %> </td>
              <td><%= c.subscriptions_active_count %></td>
              <td><%= JSON.stringify(c.analytics_data) %></td>
              -->
              <td>
                has_active_scent_subscription=<%= c.subscriptions_active_count > 0 ? "yes" : "no" %><br>
                had_subscription=<%= c.subscriptions_total_count > 0 ? "yes" : "no" %><br>
                never_had_subscription=<%= c.subscriptions_total_count < 1 ? "yes" : "no" %><br>
                total_subscriptions=<%= c.subscriptions_total_count %>
              </td>
          </tr>
          <%
          }
          %>
      </tbody>
  </table>
  </div>
 <%
 }
 %>


<a href="<%= prevURL %>" class="btn btn-warning">Previous</a>
<a href="<%= nextURL %>" class="btn btn-primary">Next</a>
</div>
</div>
</div>

<%- include('partials/foot.ejs') %>
